<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
        
        <title>Plant</title>
    </head>
    <body>
        {% block body %}
            <div>
                <form method="post" class="search-container" action="/searching">
                    <input id="search-box" type="text" placeholder="write your word" class="search-box" name="word" />
                    <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
                    <input type="submit" id="search-submit"/>
                </form>
            </div>

            <div class="list-container">
                <h5>{{word}} found!!!</h5>
            </div>

e
            <div class="card-container">
            <div class="card">
                <p>Google</p>
            </div>
            <div class="card">
                <p>Naver</p>
            </div>
            </div>
        {% endblock %}

        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>